body {
    font-family: Arial, sans-serif;
  }
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  svg {
    background: #f9f9f9;
    border-radius: 8px;
  }
  .tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    /* pointer-events: none; */
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  }
  .legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .legend div {
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  .legend div span {
    margin-left: 5px;
  }


  #legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .legend-item {
    display: flex;
    align-items: center;
  }
  .legend-item div {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }






